html,
body,
div,
span,
object,
h1,
h2,
h3,
p,
a,
code,
img,
q,
s,
small,
tt,
var,
b,
u,
i,
dt,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;

  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

/* Type */

body,
input,
select,
textarea {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 980px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

a {
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: #000000;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #eeeeee !important;
}

a.special:not(.button) {
  text-decoration: none;
  border-bottom: 2px solid #eeeeee;
  display: block;
  font-family: "Courier New", Courier, monospace;

  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 2em 0;
  text-transform: uppercase;
}

a.special:not(.button):hover:before {
  background-color: #000000;
}

a.special:not(.button):active:before {
  background-color: #000000;
}

b {
  color: black;
  font-weight: 600;
}

i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3 {
  color: #000000;
  font-family: "Courier New", Courier, monospace;

  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
}
h2 {
  color: #ffffff;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
}
img.homeLogo {
  width: 75%;
  margin-left: 2.6em;
}

h1 span,
h2 span,
h3 span {
  font-weight: 200;
}

h1.major,
h2.major,
h3.major {
  padding-bottom: 1em;
  border-bottom: solid 2px #000000;
  color: #000000;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }
}

code {
  
  /* background: rgba(255, 255, 255, 0.025); */
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.125);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

/* Row */

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

/* Form */

form {
  margin: 0 0 2em 0;
}

form > :last-child {
  margin-bottom: 0;
}

form > .fields {
  display: flex;

  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
  flex-grow: 0;

  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}

@media screen and (max-width: 480px) {
  form > .fields {
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
  }

  form > .fields > .field {
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
  }
}

label {
  color: #000000;
  display: block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  appearance: none;
  background: #eeeeee;
  border-radius: 5px;
  border: none;
  border: solid 2px #000000;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #5b6ba6;
}

select {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.125)' /%3E%3C/svg%3E");
		background-size: 1.25rem; */
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 2.75em;
  padding-right: 2.75em;
  text-overflow: ellipsis;
}

select option {
  color: #ffffff;
  background: #2e3141;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 1em;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.125);
  content: "";
  display: inline-block;
  font-size: 0.8em;
  height: 2.0625em;
  left: 0;
  line-height: 2.0625em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.0625em;
}

/* input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #ffffff;
  border-color: #ffffff;
  color: #2e3141;
} */

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #eeeeee;
}

input[type="checkbox"] + label:before {
  border-radius: 5px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

/* Box */

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Image */

.image {
  border-radius: 5px;
  border: 0;
  display: inline-block;
  position: relative;
}



.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, 0.125);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* Actions */

ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

ul.actions.special {
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) {
    flex-direction: column;
    margin-left: 0;
    width: 100% !important;
  }

  ul.actions:not(.fixed) li {
    flex-grow: 1;

    flex-shrink: 1;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }

  ul.actions:not(.fixed) li > * {
    width: 100%;
  }

  ul.actions:not(.fixed) li:first-child {
    padding-top: 0;
  }

  ul.actions:not(.fixed) li input[type="submit"],
  ul.actions:not(.fixed) li input[type="reset"],
  ul.actions:not(.fixed) li input[type="button"],
  ul.actions:not(.fixed) li button,
  ul.actions:not(.fixed) li .button {
    width: 100%;
  }

  ul.actions:not(.fixed) li input[type="submit"].icon:before,
  ul.actions:not(.fixed) li input[type="reset"].icon:before,
  ul.actions:not(.fixed) li input[type="button"].icon:before,
  ul.actions:not(.fixed) li button.icon:before,
  ul.actions:not(.fixed) li .button.icon:before {
    margin-left: -0.5rem;
  }
}

/* Icons */

/* Contact */

ul.contact {
  list-style: none;
  padding: 0;
}

ul.contact li {
  text-decoration: none;
  margin: 2.5em 0 0 0;
  padding: 0 0 0 3.25em;
  position: relative;
}

ul.contact li:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

ul.contact li:before {
  border-radius: 100%;
  border: solid 2px rgba(255, 255, 255, 0.125);
  display: inline-block;
  font-size: 0.8em;
  height: 2.5em;
  left: 0;
  line-height: 2.35em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}

ul.contact li:first-child {
  margin-top: 0;
}

@media screen and (max-width: 736px) {
  ul.contact li {
    margin: 1.5em 0 0 0;
  }
}

/* Pagination */

/* Table */

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px rgba(255, 255, 255, 0.125);
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.025);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

table tfoot {
  border-top: solid 2px rgba(255, 255, 255, 0.125);
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px rgba(255, 255, 255, 0.125);
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  appearance: none;

  transition: background-color 0.2s ease-in-out;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
  color: #000000 !important;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: rgba(255, 255, 255, 0.025);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: rgba(255, 255, 255, 0.075);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
  color: rgba(255, 255, 255, 0.35);
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.6em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
  font-size: 1em;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}

/* Features */

.features {
  display: flex;

  flex-wrap: wrap;
  margin: 0 0 2em 0;
}

.features article {
  padding: 1em 0.85em 0.1em 1em;
  background-color: #ffffff;
  /* border-radius: 2px; */
  margin: 1.5em 1.5em 1.5em 0;
  width: calc(25% - 1.5em);
}

.features article .image {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-bottom: 1.75em;
  margin-left: -1.5em;
  margin-top: -1.75em;
  position: relative;
  width: calc(100% + 3.5em);
}

.features article .image img {
  border-radius: 5px 5px 0 0;
  width: 95%;
}

@media screen and (max-width: 980px) {
  .features article {
    margin: 1em 0.85em 1em 0;
    width: calc(45% - 1em);
  }
}

@media screen and (max-width: 736px) {
  .features article {
    padding: 1.5em 0.75em 0.1em 1.5em;
    margin: 0.875em 1.75em 0.875em 0;
    width: calc(35% - 0.875em - 1px);
  }

  .features article .image {
    margin-bottom: 1.5em;
    margin-left: -1.5em;
    margin-top: -1.5em;
    width: calc(100% + 3em);
  }
}

@media screen and (max-width: 480px) {
  .features {
    display: block;
  }

  .features article {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }
}

/* Header */

#header {
  transition: background-color 0.2s ease-in-out;
  background-color: #eeeeee;
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  padding: 0 1.25em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#header h1 {
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  border-bottom: 0;
  font-size: 0.8em;
  margin-bottom: 0;
  opacity: 1;
  visibility: visible;
}

#header h1 a {
  border: 0;
}

#header nav {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  font-weight: 700;
  height: 3em;
  letter-spacing: 0.1em;
  line-height: 3em;
  position: absolute;
  right: 0.7em;
  text-transform: uppercase;
  top: 0.7em;
}

#header nav a {
  border: 0;
  display: inline-block;
  padding: 0 1em;
}

#header nav a:before {
  float: right;
  margin-left: 0.75em;
}

#header.alt {
  background-color: transparent;
}

#header.alt h1 {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 736px) {
  #header {
    height: 2.75em;
    line-height: 2.75em;
  }

  #header nav {
    top: 0;
    right: 0;
    height: inherit;
    line-height: inherit;
  }

  #header nav a {
    height: inherit;
    line-height: inherit;
  }
}

/* Menu */

#page-wrapper {
  transition: filter 0.25s ease;
}

#menu {
  align-items: center;

  display: flex;

  justify-content: center;
  pointer-events: none;

  transition: opacity 0.35s ease, visibility 0.35s;

  user-select: none;
  background: rgba(46, 49, 65, 0.8);
  cursor: default;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
}

#menu .inner {
  padding: 2.5em 1.5em 0.5em 1.5em;

  transform: translateY(0.5em);

  transition: opacity 0.35s ease, transform 0.35s ease;
  background: #ffffff;
  border-radius: 5px;
  display: block;
  max-width: 100%;
  opacity: 0;
  position: relative;
  width: 18em;
}

#menu h2 {
  border-bottom: solid 2px #eeeeee;
  padding-bottom: 0.75em;
}

#menu .close {
  /* background-image: url("images/close.svg"); */
  background-position: 75% 25%;
  background-repeat: no-repeat;
  background-size: 2em 2em;
  border: 0;
  content: "";
  display: block;
  height: 4em;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 4em;
  top: 0;
  width: 4em;
}

#menu .links {
  list-style: none;
  margin-bottom: 1.5em;
  padding: 0;
}

#menu .links li {
  padding: 0;
}

#menu .links li a {
  border-radius: 5px;
  border: 0;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.85em;
  padding: 0.75em 0;
  text-transform: uppercase;
}

#menu .links li a:hover {
  background: #eeeeee;
}

@media screen and (max-width: 736px) {
  #menu .inner {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #menu .inner .close {
    background-size: 1.5em 1.5em;
  }
}

body.is-menu-visible #page-wrapper {
  filter: blur(1.5px);
}

body.is-menu-visible #menu {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

body.is-menu-visible #menu .inner {
  transform: translateY(0);
  opacity: 1;
}

/* Banner */

#banner {
  padding: 10em 0 4.75em 0;
}

#banner .inner {
  margin: 0 auto;
  width: 55em;
}

#banner h2 {
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;

  transform: translateX(0);

  transition-delay: 0.65s;

  filter: blur(0);
  opacity: 1;
  border-bottom: solid 3px #eeeeee;
  font-size: 2.25em;
  margin-bottom: 0.8em;
  padding-bottom: 0.4em;
}

#banner p {
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;

  transform: translateX(0);

  transition-delay: 0.8s;

  filter: blur(0);
  opacity: 1;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 2;
  text-transform: uppercase;
}

@media screen and (max-width: 1680px) {
  #banner {
    padding: 7em 0 8.25em 0;

    background-image: url("https://i.ibb.co/h1ph3Pj/homepage.png");

    background-repeat: inherit;
    background-size: cover;
    background-position: center, center;
    margin-bottom: -6.5em;
  }
}

@media screen and (max-width: 980px) {
  #banner {
    padding: 12em 3em 12.375em 3em;
    margin-bottom: -4.75em;
  }

  #banner .inner {
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 5em 2em 4.25em 2em;
    margin-bottom: -2.5em;
  }

  #banner h2 {
    font-size: 1.5em;
  }

  #banner p {
    font-size: 0.8em;
  }
}

body.is-preload #banner h2 {
  opacity: 0;

  transform: translateX(0.25em);

  filter: blur(2px);
}

body.is-preload #banner p {
  opacity: 0;

  transform: translateX(0.5em);

  filter: blur(2px);
}

/* Wrapper */

#wrapper > header {
  padding: 11em 0 2.25em 0;
}

#wrapper > header .inner {
  margin: 0 auto;
  width: 55em;
}

#wrapper > header h2 {
  border-bottom: solid 2px #eeeeee;
  font-size: 2em;
  margin-left: 1em;
  margin-bottom: 0.8em;
  padding-bottom: 0.4em;
}

#wrapper > header p {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 2;
  text-transform: uppercase;
  margin-left: 1em;
}

@media screen and (max-width: 1680px) {
  #wrapper > header {
    padding: 9em 0 6.25em 0;
    background-color: white;
    background: url("https://i.postimg.cc/mD7rqTJB/Untitled-design.png");

    background-size: cover;
    background-position: center, 0% 30%;
    background-repeat: no-repeat;

    margin-bottom: -6.5em;
  }
  #wrapper > header.contact-header {
    padding: 9em 0 6.25em 0;
    background-color: white;
    background: url("https://i.postimg.cc/8CKcWyWg/Untitled-design-1.png");

    background-size: cover;
    background-position: center, 0% 30%;
    background-repeat: no-repeat;

    margin-bottom: -6.5em;
  }
}

@media screen and (max-width: 980px) {
  #wrapper > header {
    padding: 11em 3em 7.375em 3em;
    background-size: auto, cover;
    background-position: center, 0% 0%;
    margin-bottom: -4.75em;
  }

  #wrapper > header .inner {
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  #wrapper > header {
    padding: 6.5em 2em 3em 2em;
    background-size: auto, 125%;
    margin-bottom: -2.5em;
  }

  #wrapper > header h2 {
    font-size: 1.25em;
  }

  #wrapper > header p {
    font-size: 0.8em;
  }
}

.wrapper {
  background-color: white;
  margin: 6.5em 0;
  position: relative;
}

.wrapper:before,
.wrapper:before {
  box-shadow: inset 0 -1px 0 0 white, 0 1px 0 0 white;
}

.wrapper:after {
  box-shadow: inset 0 -1px 0 0 white, 0 1px 0 0 white;
}

.wrapper:before {
  left: 0;
  top: -6.5em;
}

.wrapper.alt:before {
  transform: scaleX(-1);
}

.wrapper.alt:after {
  transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
  padding: 3em 0 1em 0;
  margin: 0 auto;
  width: 55em;
}

.wrapper.style2 {
  background-color: white;
}

.wrapper.style3 {
  background-color: white;
}

.wrapper.spotlight {
  background-color: #eeeeee;
}

.wrapper.spotlight:before {
  box-shadow: inset 0 -1px 0 0 #eeeeee, 0 1px 0 0 #eeeeee;
}

.wrapper.spotlight:after {
  box-shadow: inset 0 -1px 0 0 #eeeeee, 0 1px 0 0 #eeeeee;
}

.wrapper.spotlight .inner {
  display: flex;

  align-items: center;

  flex-direction: row;
}

.wrapper.spotlight .image {
  margin: 0 3em 2em 0;
  width: 22em;
  overflow: hidden;
  flex: 1;
}

.wrapper.spotlight .image img {
  width: 100%;
}

.wrapper.spotlight .content {
  width: 100%;
  flex: 2;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
  flex-direction: row-reverse;
  text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
  margin: 0 0 2em 3em;
}

.wrapper.spotlight.style2 {
  background-color: #ffffff;
}

.wrapper.spotlight.style2:before {
  box-shadow: inset 0 2px 0 0 #ffffff, 0 1px 0 0 #ffffff;
}

.wrapper.spotlight.style2:after {
  box-shadow: inset 0 -1px 0 0 #ffffff, 0 1px 0 0 #ffffff;
}

.wrapper.spotlight.style3 {
  background-color: #eeeeee;
}

@media screen and (max-width: 980px) {
  .wrapper {
    margin: 4.75em 0;
  }

  .wrapper:before,
  .wrapper:after {
    height: 4.75em;
  }

  .wrapper:before {
    top: -4.75em;
  }

  .wrapper:after {
    bottom: -4.75em;
    left: 0;
  }

  .wrapper .inner {
    padding: 3em 3em 1em 3em;
    width: 100%;
  }

  .wrapper.spotlight .image {
    margin: 0 2em 2em 0;
    width: 32em;
  }

  .wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 2em;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    margin: 2.5em 0;
  }

  .wrapper:before,
  .wrapper:after {
    height: 2.5em;
  }

  .wrapper:before {
    top: -2.5em;
  }

  .wrapper:after {
    bottom: -2.5em;
    left: 0;
  }

  .wrapper .inner {
    padding: 2em 2em 0.1em 2em;
  }

  .wrapper.spotlight .inner {
    align-items: flex-start;
  }

  .wrapper.spotlight .image {
    width: 19em;
    margin: 0 1.75em 2em 0;
  }

  .wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 1.75em;
  }
}

@media screen and (max-width: 480px) {
  .wrapper.spotlight .inner {
    display: block;
  }

  .wrapper.spotlight .image {
    margin: 0 0 1em 0 !important;
    max-width: 85%;
    width: 12em;
  }
}

@media screen and (max-width: 360px) {
  .wrapper .inner {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}

/* Footer */

#footer .inner {
  padding: 3em 0 3em 0;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;
  margin: 0 auto;
  width: 55em;
}

#footer .inner > * {
  width: 100%;
}

#footer .inner form {
  margin: 0 3em 0 0;
  width: calc(50% - 1.5em);
}

#footer .inner .contact {
  width: calc(50% - 1.5em);
}

#footer .inner .copyright {
  border-top: solid 2px #eeeeee;
  list-style: none;
  margin: 2em 0 2em 0;
  padding: 1em 0 0 0;
  width: 100%;
}

#footer .inner .copyright li {
  border-left: solid 2px #ffffff;
  color: #000000;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1;
  margin-left: 1em;
  padding: 0;
  padding-left: 1em;
}

#footer .inner .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .inner .copyright li a {
  color: inherit;
}

@media screen and (max-width: 1280px) {
  #footer {
    background-color: #eeeeee;

    background-size: auto, cover;
    background-position: center, center;
    margin-top: -6.5em;
    padding-top: 4em;
  }
}

@media screen and (max-width: 980px) {
  #footer {
    margin-top: -4.75em;
    /* padding-top: 4em; */
  }

  #footer .inner {
    padding: 3em 3em 1em 3em;
    display: block;
    width: 100%;
  }

  #footer .inner form {
    width: 100%;
    margin: 0 0 4em 0;
  }

  #footer .inner .contact {
    width: 100%;
    margin: 0 0 4em 0;
  }

  #footer .inner .copyright {
    margin: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    margin-top: -2.5em;
    /* padding-top: 2em; */
  }

  #footer .inner {
    padding: 2em 2em 0.1em 2em;
  }

  #footer .inner form {
    margin: 0 0 3em 0;
  }

  #footer .inner .contact {
    margin: 0 0 3em 0;
  }
}

@media screen and (max-width: 480px) {
  #footer .inner .copyright li {
    border-left: 0;
    display: block;
    margin: 1em 0 0 0;
    padding-left: 0;
  }

  #footer .inner .copyright li:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 360px) {
  #footer .inner {
    padding: 2em 1.5em 0.1em 1.5em;
  }
}
